.add{
  display: flex;
}
.show{
  text-align: center;
}
#menu{
  background-color: lightblue;
  float: left;
  width: 140px;
  padding-left: 10px;
}
#menu ul{
  list-style-type: none;
}
#menu ul li a:hover{
  background-color: white;
}
#container{
  background-color: white;
  margin-left: 160px;
}
#footer{
  background-color: gray;
  text-align: center;
  height: 100px;
}
#header{
  margin-left: 160px;
  background-color: black;
  color: white;
  height: 50px;
}
#header a{
  color: white;
  margin-left: 600px;
}
